<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This website is designed for Property Owners to list their homes for rent and for Renters to search for and rent those homes.">
    <meta name="author" content="Rahulkumar Gupta">
    
    <title> {% block title %} Rent Home {% endblock title %} </title>
</head>
<body>
    <!-- navbar -->
    {% block navbar %}{% endblock navbar %}

    <main>
    {% block body %}{% endblock body %}
    </main>
    
    <!-- footer -->
    {% block footer %}{% endblock footer %}

</body>
</html>